@model StudyPlanner.Domain.Entities.User

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="MainImageContainer">
    <img src="~/Content/Images/MainTheme.jpg" />
    @if (ViewBag.Register)
    {
        @Html.Partial("RegisterPartial")
    }
    else
    {
        @Html.Partial("LogInPartial", Model)
    }
</div>

<div class="SectionsDescription row">
    <div class="col-sm-4">
        <img src="~/Content/Images/Books2.png" width="100" />@*~/Content/Images/Books.png*@
        <b>Books</b>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        <a>More</a>
    </div>
    <div class="col-sm-4">
        <img src="~/Content/Images/Books2.png" width="100" />@*~/Content/Images/Books.png*@
        <b>Books</b>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        <a>More</a>
    </div>
    <div class="col-sm-4">
        <img src="~/Content/Images/Books2.png" width="100" />@*~/Content/Images/Books.png*@
        <b>Books</b>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        <a>More</a>
    </div>
</div>

<footer>
    Copyright © 2016 Kamil Dzierlęga (mail)
</footer>