@model StudyPlanner.Domain.Entities.User

@{
    ViewBag.Title = "Home";
}

<link href="~/Content/CSS/Home.css" rel="stylesheet" />

<div class="main-section">
    <img src="~/Content/Images/MainTheme.jpg" />
    <div>
        <p class="SuccessMessage">@TempData["SuccessMessage"]</p>
        <p class="ErrorMessage">@TempData["ErrorMessage"]</p>
        @if (User.Identity.IsAuthenticated)
        {
            @*@Html.Partial("SummaryPartial", Model)*@
        }
        else if (ViewBag.Register)
        {
            @Html.Partial("RegisterPartial", Model)
        }
        else if (ViewBag.Recover)
        {
            @*@Html.Partial("RecoverPartial", Model)*@
        }
        else
        {
            @Html.Partial("LogInPartial", Model)
        }
    </div>
</div>

<div class="info-section row">
    <div class="col-sm-4">
        <img src="~/Content/Images/Books2.png" width="100" />
        <b>Books</b>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        <a href="#">More</a>
    </div>
    <div class="col-sm-4">
        <img src="~/Content/Images/Books2.png" width="100" />
        <b>Books</b>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        <a href="#">More</a>
    </div>
    <div class="col-sm-4">
        <img src="~/Content/Images/Books2.png" width="100" />
        <b>Books</b>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        <a href="#">More</a>
    </div>
</div>