<div>
    <p>@TempData["Message"]</p>
    @using (@Html.BeginForm("LogIn", "Home", new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        <div class="form-group">
            <label>Username</label>
            <input class="form-control" name="username" />
        </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" />
            </div>
            <input type="submit" class="btn btn-default" value="Log in" />
            <input type="submit" class="btn btn-default" value="Register" />
    }
</div>
