body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-y: scroll;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
}

.heading {
    border-bottom: 1px solid #ddd; 
    border-bottom-left-radius: 100px 1px; 
    border-bottom-right-radius: 100px 1px; 
    padding-bottom: 10px; 
    margin-bottom: 10px;
}
.side-panel {
    border-right: 1px solid #ddd;
    border-top-right-radius: 1px 100px;
    border-bottom-right-radius: 1px 100px;
    margin-bottom: 20px;
}
.side-panel input[type="text"], .side-panel input[type="date"], .side-panel input[type="number"] {
    max-width: 100%;
}
.form-control-range {
    font-size: 0;
}
.form-control-range > input {
    width: calc(50% - 10px);
    display: inline-block;
}
.form-control-range > div {
    display: inline-block;
    vertical-align: middle;
    font-size: initial;
    width: 20px;
    text-align: center;
}
#SelectBookForm > div >  select {
    max-width: 500px;
    width: 100%;
}
.sorting-group {
    text-align: right;
    margin-bottom: 0;
}
.sorting-group > select {
    display: inline-block;
    width: 130px;
    margin-bottom: 10px;
}
.book-details {
    position: relative;
    overflow: auto;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.book-details > img {
    float: left; 
    margin: 0 19px 19px 0
}
.book-details > img + div {
    float: left;
    margin-bottom: 19px;
}
.book-details >img + div > b {
    display: block;
    font-size: 1.4em;
    margin-bottom: 10px;
}
.book-details > a {
    position: absolute; 
    right: 10px; 
    top: 8px; 
    text-decoration: none; 
    font: bold 1.6em Arial; 
    color: #808080;
}
.book-details > div > .btn-group {
    display: block; 
    margin-top: 10px;
}
.sections-table > thead > tr > th, .sections-table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}
.sections-table > tbody > tr > td:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
}
.sections-table > thead > tr > th:nth-child(3), .sections-table > tbody > tr > td:nth-child(5) {
    text-align: left;
    width: 60%;
}
.sections-table > tbody > tr > td:nth-child(7) > .btn {
    width: 110px;
}
.sections-table > tbody > tr > td:nth-child(1) > input, .sections-table > tbody > tr > td:nth-child(3) > input {
    width: 75px;
    text-align: center;
}
.sections-table > tbody > tr > td:nth-child(5) > input {
    max-width: 100%;
}

.pagination {
    width: 100%;
    text-align: center;
}

.pagination ul
{
    list-style-type: none;
    
    padding: 0;
    margin: 0;
}

.pagination li
{
    display: inline;
    
    margin: 0 3px;
}

.pagination a
{
    text-decoration: none;
    color: #444;
    font-weight: bold;
    width: 40px;
    height: 40px;
    display: table-cell;
    background-color: #eee;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
}

.pagination a:hover {
    background-color: #ccc;
}