.pagination {
    width: 100%;
    text-align: center;
}
.pagination > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.pagination ul > li
{
    display: inline;
    margin: 0 3px;
}
.pagination > ul > li > div
{
    text-decoration: none;
    color: #444;
    font-weight: bold;
    width: 40px;
    height: 40px;
    display: table-cell;
    background-color: #eee;
    box-shadow: 0 0 3px #bbb;
    border-radius: 5px;
    vertical-align: middle;
    text-align: center;
}
.pagination > ul > li > div.disabled {
    cursor: default;
}
.pagination > ul > li > div:not(.disabled):hover, .pagination > ul > li > div[data-selected="selected"] {
    background-color: #ccc;
    box-shadow: 0 0 3px #999;
    cursor: pointer;
}