.heading {
    border-bottom: 1px solid #ddd; 
    border-bottom-left-radius: 100px 1px; 
    border-bottom-right-radius: 100px 1px; 
    padding: 0 0 10px 0; 
    margin: 20px 35px 10px;
}
.row {
    margin: 0;
    padding: 0 20px;
}
.side-panel {
    border-right: 1px solid #ddd;
    border-top-right-radius: 1px 100px;
    border-bottom-right-radius: 1px 100px;
    margin-bottom: 20px;
}
.side-panel input.form-control {
    width: 100%;
    max-width: 100%;
}
.form-control-range {
    font-size: 0;
}
.form-control-range > input.form-control {
    width: calc(50% - 10px);
    display: inline-block;
}
.form-control-range > div {
    display: inline-block;
    vertical-align: middle;
    font-size: initial;
    width: 20px;
    text-align: center;
}

.sorting-group {
    text-align: right;
    margin-bottom: 10px;
}
.sorting-group > b {
    vertical-align:  middle;
}
.sorting-group > select {
    display: inline-block;
    vertical-align: middle;
    width: 130px;
}
.book-details {
    position: relative;
    overflow: auto;
    padding-bottom: 0;
    margin-bottom: 10px;
}
.book-details > img {
    float: left; 
    margin: 0 19px 19px 0
}
.book-details > img + div {
    float: left;
    margin-bottom: 19px;
}
.book-details > img + div > b {
    display: block;
    font-size: 1.4em;
    margin-bottom: 10px;
}
.book-details > a {
    position: absolute; 
    right: 10px; 
    top: 8px; 
    text-decoration: none; 
    font: bold 1.6em Arial; 
    color: #808080;
}
.book-details > div > .btn-group {
    display: block; 
    margin-top: 10px;
}

