.heading {
    border-bottom: 1px solid #ddd; 
    border-bottom-left-radius: 100px 1px; 
    border-bottom-right-radius: 100px 1px; 
    padding: 0 0 10px 0; 
    margin: 20px 35px 10px;
}
.row {
    margin: 0;
    padding: 0 20px;
}
.side-panel {
    border-right: 1px solid #ddd;
    border-top-right-radius: 1px 100px;
    border-bottom-right-radius: 1px 100px;
    margin-bottom: 20px;
}
.side-panel input.form-control {
    width: 100%;
    max-width: 100%;
}
.form-control-range {
    font-size: 0;
}
.form-control-range > input.form-control {
    width: calc(50% - 10px);
    display: inline-block;
}
.form-control-range > div {
    display: inline-block;
    vertical-align: middle;
    font-size: initial;
    width: 20px;
    text-align: center;
}

.sorting-group {
    text-align: right;
    margin-bottom: 10px;
}
.sorting-group > b {
    vertical-align:  middle;
}
.sorting-group > select {
    display: inline-block;
    vertical-align: middle;
    width: 130px;
}
.book-info {
    position: relative;
    padding-right: 25px;
    margin-bottom: 10px;
    display: table;
    width: 100%;
}
.book-info > span#remove-book {
    position: absolute; 
    right: 10px; 
    top: 8px; 
    text-decoration: none; 
    font: bold 1.6em Arial; 
    color: #888;
    cursor: pointer;
}
.book-info > span#remove-book:hover {
    color: #555;
}
.book-info > div {
    display: table-cell;
    vertical-align: top;
}
.book-info > div:last-child {
    width: 100%;
    padding-left: 19px;
}
.book-info > div > img {
    width: 120px;
}
.book-info > div > b {
    display: block;
    font-size: 1.4em;
    margin-bottom: 10px;
}
.book-info > div > b > button {
    vertical-align: text-top;
}
.book-info > div > p {
    margin: 0;
} 
.book-info > div > .btn-group {
    margin-top: 10px;
}

